<p id="notice"><%= notice %></p>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>
<%#= link_to 'Export Product', new_product_path, class: 'btn btn-primary' %>
<%= link_to 'Export Product', export_products_path(format: :xlsx), class: 'btn btn-primary' %>

<h1>Products</h1>

<%= form_tag( products_path, :method=>'get', :id => 'product_search_form', :class=>'tran-frm') do %>
    <div style="background-color: #fff;border: 1px solid #c6c3c3;border-radius: 5px;box-shadow: 0 1px 4px #eae7e7;margin: 0 auto 20px;width: 98%;">
      <ul>
        <li><label>Brand</label></li>
        <li><%= select_tag :select_brand, options_for_select(@brand,@selected_brand), {:prompt => 'Select Brand'}%></li>
        <li><label>Model</label></li>
        <li><%= select_tag :select_model, options_for_select(@model,@selected_model), {:prompt => 'Select Model'}%></li>
        <li><label>RAM</label></li>
        <li><%= select_tag :select_ram, options_for_select(@ram,@selected_ram), {:prompt => 'Select RAM'}%></li>
        <li><label>External Storage</label></li>
        <li><%= select_tag :select_extst, options_for_select(@extst,@selected_extst), {:prompt => 'Select External Storage'}%></li>
        <li><button class="btn search-btn" id="search_filter" name="button" type="submit">Filter</button></li>
        <li><button class="btn" id="reset_filter" name="button" type="submit">Reset</button></li>
      </ul>
    </div>
 <% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Sr. No</th>
      <th>Product Type</th>
      <th>Product Name</th>
      <th>Model</th>
      <th>Brand</th>
      <th>Year</th>
      <th>RAM</th>
      <th>Internal Storage(In GB)</th>
      <th>External Storage(In GB)</th>
      <th colspan="3" style="text-align: center;">Action</th>
    </tr>
  </thead>

  <tbody>
    <%count = 1 %>
    <% @products.each do |product| %>
      <tr>
        <td><%= count + ((params[:page].to_i-1) * 25) %></td>
        <td><%= product.product_type %></td>
        <td><%= product.product_name %></td>
        <td><%= product.model %></td>
        <td><%= product.brand %></td>
        <td><%= product.year %></td>
        <td><%= product.ram %></td>
        <td><%= product.external_storage %></td>
        <td><%= product.internal_storage %></td>
        <!-- <td><%#= link_to 'Show', product %></td> -->
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% count += 1 %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @products, theme: 'my_custom_theme' %>
<br/>

<script type="text/javascript">
  $("#reset_filter").click(function(){
    $("#select_brand").val('');
    $("#select_model").val('');
    $("#select_extst").val('');
    $("#select_ram").val('');
    
  });

</script>
